{% extends 'base.html' %}

{% block content %}
<main class="main main--about">
   <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit recusandae, ducimus culpa sed magni, sunt ipsa quisquam sit, quasi voluptate facilis. Dolor quasi itaque possimus fugit ipsum consequatur nisi voluptatem.
   </p>
   <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos doloribus tempore vero porro ea error, illum doloremque ad excepturi cum alias fuga quisquam nulla dolores? Assumenda voluptates illo sunt, sapiente quidem atque qui voluptas explicabo?
   </p>
   <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quisquam sed sequi suscipit neque qui explicabo mollitia. Expedita quo saepe sequi amet neque in, laborum facere ipsa itaque nam optio nisi quisquam, laudantium, praesentium dicta commodi adipisci! Earum, eum unde.
   </p>
</main>
{% endblock %}
